<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="epyenv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ndenv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <epyenv.Properties.Settings>
            <setting name="PythonURL" serializeAs="String">
                <value>https://www.python.org/ftp/python/</value>
            </setting>
            <setting name="GetPipURL" serializeAs="String">
                <value>https://bootstrap.pypa.io/get-pip.py</value>
            </setting>
            <setting name="GetPipName" serializeAs="String">
                <value>get-pip.py</value>
            </setting>
            <setting name="tkinter3_5_Amd64" serializeAs="String">
                <value>tkinter3.5.X_Amd64.zip</value>
            </setting>
            <setting name="tkinter3_6_Amd64" serializeAs="String">
                <value>tkinter3.6.X_Amd64.zip</value>
            </setting>
            <setting name="tkinter3_7_Amd64" serializeAs="String">
                <value>tkinter3.7.X_Amd64.zip</value>
            </setting>
            <setting name="tkinter3_8_Amd64" serializeAs="String">
                <value>tkinter3.8.X_Amd64.zip</value>
            </setting>
            <setting name="tkinter3_9_Amd64" serializeAs="String">
                <value>tkinter3.9.X_Amd64.zip</value>
            </setting>
            <setting name="tkinter3_5_Win32" serializeAs="String">
                <value>tkinter3.5.X_Win32.zip</value>
            </setting>
            <setting name="tkinter3_6_Win32" serializeAs="String">
                <value>tkinter3.6.X_Win32.zip</value>
            </setting>
            <setting name="tkinter3_7_Win32" serializeAs="String">
                <value>tkinter3.7.X_Win32.zip</value>
            </setting>
            <setting name="tkinter3_8_Win32" serializeAs="String">
                <value>tkinter3.8.X_Win32.zip</value>
            </setting>
            <setting name="tkinter3_9_Win32" serializeAs="String">
                <value>tkinter3.9.X_Win32.zip</value>
            </setting>
            <setting name="ArchAmd64" serializeAs="String">
                <value>amd64</value>
            </setting>
            <setting name="ArchWin32" serializeAs="String">
                <value>win32</value>
            </setting>
            <setting name="PythonEmbedName" serializeAs="String">
                <value>python-{0}-embed-{1}.zip</value>
            </setting>
        </epyenv.Properties.Settings>
    </userSettings>
</configuration>